{% extends 'layout/base.twig' %}

{% block content %}
<div class="row-fluid">

<div class="span9">
  <div class="row-fluid">

    <div class="span4">
      <h2>Selection Criteria</h2>
      <p>This will be passed as-is to MongoDB. You may use this to select (for example) hits against a specific URL, or requests that invoked MongoCollection::find() more than 3 times.</p>
      <h3>Samples</h3>
      <b>Display hits against a given URL</b>
      <p style="white-space: pre;">
        {"meta.url" : "/index.php"}
      </p>
      <b>Display runs that took more than 1 second</b>
      <p style="white-space: pre;">
        { "profile.main().wt" : {"$gt" : 1000000}}
      </p>
      
    </div><!--/span-->



    <div class="span4">
      <h2>Values to Retrieve</h2>
      <p>It's unlikely you require the full dataset back, this allows you to grab just the values you care about to reduce transferred data.</p>
      <h3>Samples</h3>
      <b>Retrieve meta details, and overall run data</b>
      <p style="white-space: pre;">
        {"meta" : true, "profile.main()" : true}
      </p>
    </div><!--/span-->

    <div class="span4">
      <h2>Values to Graph</h2>
      <p>These are things that should end up on the graph</p>
    
    </div><!--/span-->
    
  </div><!--/row-->
  <div class="row-fluid">

    <div class="span12">
        <h2>Raw Data</h2>
    </div><!--/span-->
  
  </div><!--/row-->
  <div class="row-fluid">

    <div class="span12">
        <pre>
{{ data }}
        </pre>
    </div><!--/span-->
  
  </div><!--/row-->
  
</div><!--/span-->
</div><!--/row-->
{% endblock %}

