{% extends 'layout/base.twig' %}
{% import 'macros/helpers.twig' as helpers %}

{% block content %}
<h1>Runs for {{ url }} (simplified)</h1>

<div class="row-fluid">
    <div id="time-line-graph" class="chart-container span6"></div>
    <div id="memory-line-graph" class="chart-container span6"></div>
</div>

{% include 'runs/paginated-list.twig' %}

{{ helpers.pagination(url('/url.php', {'url': url}), page, total_pages) }}

{% endblock %}

{% block jsfoot %}
<script>
$(document).ready(function () {
    var graphData = {{ chart_data|json_encode|raw }};
    Xhgui.linegraph('#time-line-graph', graphData, {
        series: ['avg_wt', 'avg_cpu'],
        height: 300,
        xAxis: 'date',
        title: 'Time usage',
        legend: ['Wall time', 'CPU time'],
        postfix: ' \u00b5s',
    });
    Xhgui.linegraph('#memory-line-graph', graphData, {
        series: ['avg_mu', 'avg_pmu'],
        height: 300,
        xAxis: 'date',
        title: 'Memory usage',
        legend: ['Memory usage', 'Peak memory usage'],
        postfix: ' bytes'
    });
});
</script>
{% endblock %}
