body {
    margin-top: 40px;
}

/**
 * Typography
 */
.units {
    color: #999999;
}
.text-wrap {
    word-break: break-all;
}

/**
 * Tables
 */
th {
    text-align: center;
}

td.right {
    text-align: right;
}
th.right {
    text-align: right;
    padding-right: 30px;
}
th.header {
    background: url(../img/bg.gif) center right no-repeat;
    cursor: pointer;
    padding-right: 18px;
}
th.headerSortDown {
    background-image: url(../img/desc.gif);
}
th.headerSortUp {
    background-image: url(../img/asc.gif);
}

span.footersplit {
    width: 33%;
    display:block;
    text-align: center;
    float: left;
}


/**
 * Chart styles
 */
.chart-container {
    position: relative;
}
.chart-container .popover {
    width: auto;
}

.chart-axis path,
.chart-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.chart-line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.chart-bar {
    fill: steelblue;
}
