{% extends 'layout/base.twig' %}

{% block content %}
<h1>Aw shoot, Xhgui hit an error</h1>

<p>{{ message }}</p>

<p>
You may want to ensure that Mongo has been started, and that the config file has the right connection information.
</p>

<h5>Stack trace</h5>
<pre>{{ stack_trace }}</pre>
{% endblock %}
