{% extends 'layout/base.twig' %}

{% block content %}
<h1>Aw shoot, Xhgui hit an error</h1>

<p>{{ message }}</p>

<p>
You should check the following things:
</p>
<ul>
    <li>Ensure that Mongo has been started</li>
    <li>That <code>config/config.php</code> has the right connection information.</li>
    <li>That the <code>cache/</code> directory has the correct permissions.</li>
</ul>

<h5>Stack trace</h5>
<pre>{{ stack_trace }}</pre>
{% endblock %}
