# https://help.github.com/en/categories/automating-your-workflow-with-github-actions
# https://docs.github.com/en/actions/reference/environment-variables

name: "Automatic Releases"

on:
  milestone:
    types:
      - "closed"

env:
  GIT_AUTHOR_NAME: "XHGui Release Bot"
  # NOTE: The e-mail does not exist
  GIT_AUTHOR_EMAIL: "xhgui-release-bot@github.com"

jobs:
  release:
    name: "GIT tag, release & create merge-up PR"
    runs-on: ubuntu-latest
    env:
      # https://symfony.com/doc/5.2/console/verbosity.html#verbosity-levels
      SHELL_VERBOSITY: 3

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Release"
        uses: "laminas/automatic-releases@v1"
        with:
          command-name: "laminas:automatic-releases:release"
        env:
          "GITHUB_TOKEN": ${{ secrets.ORGANIZATION_ADMIN_TOKEN }}
          "SIGNING_SECRET_KEY": ${{ secrets.SIGNING_SECRET_KEY }}
          "GIT_AUTHOR_NAME": ${{ env.GIT_AUTHOR_NAME }}
          "GIT_AUTHOR_EMAIL": ${{ env.GIT_AUTHOR_EMAIL }}

      - name: "Create Merge-Up Pull Request"
        uses: "laminas/automatic-releases@v1"
        with:
          command-name: "laminas:automatic-releases:create-merge-up-pull-request"
        env:
          "GITHUB_TOKEN": ${{ secrets.GITHUB_TOKEN }}
          "SIGNING_SECRET_KEY": ${{ secrets.SIGNING_SECRET_KEY }}
          "GIT_AUTHOR_NAME": ${{ env.GIT_AUTHOR_NAME }}
          "GIT_AUTHOR_EMAIL": ${{ env.GIT_AUTHOR_EMAIL }}

      - name: "Create and/or Switch to new Release Branch"
        uses: "laminas/automatic-releases@v1"
        with:
          command-name: "laminas:automatic-releases:switch-default-branch-to-next-minor"
        env:
          "GITHUB_TOKEN": ${{ secrets.ORGANIZATION_ADMIN_TOKEN }}
          "SIGNING_SECRET_KEY": ${{ secrets.SIGNING_SECRET_KEY }}
          "GIT_AUTHOR_NAME": ${{ env.GIT_AUTHOR_NAME }}
          "GIT_AUTHOR_EMAIL": ${{ env.GIT_AUTHOR_EMAIL }}

      - name: "Bump Changelog Version On Originating Release Branch"
        uses: "laminas/automatic-releases@v1"
        with:
          command-name: "laminas:automatic-releases:bump-changelog"
        env:
          "GITHUB_TOKEN": ${{ secrets.GITHUB_TOKEN }}
          "SIGNING_SECRET_KEY": ${{ secrets.SIGNING_SECRET_KEY }}
          "GIT_AUTHOR_NAME": ${{ env.GIT_AUTHOR_NAME }}
          "GIT_AUTHOR_EMAIL": ${{ env.GIT_AUTHOR_EMAIL }}

      - name: "Create new milestones"
        uses: "laminas/automatic-releases@v1"
        with:
          command-name: "laminas:automatic-releases:create-milestones"
        env:
          "GITHUB_TOKEN": ${{ secrets.GITHUB_TOKEN }}
          "SIGNING_SECRET_KEY": ${{ secrets.SIGNING_SECRET_KEY }}
          "GIT_AUTHOR_NAME": ${{ env.GIT_AUTHOR_NAME }}
          "GIT_AUTHOR_EMAIL": ${{ env.GIT_AUTHOR_EMAIL }}

# vim:ft=yaml:et:ts=2:sw=2
